body {
  background-color: #091833;
}
h1 {
  color: #ea00d9;
  text-align: center;
}
p {
  color: #711c91;
  text-align: center;
}
.container {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 350px;
  height: 200px
  text-align: center;
}

