body {
  background-color: #091833;
}
h1 {
  color: #ea00d9;
  text-align: center;
}
h2 {
  color: 	#0abdc6;
  text-align: center;
}
p {
  color: #711c91;
  text-align: center;
}
.container {
  margin: auto;
  color: 	#0abdc6;
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 350px;
  height: 200px
}
li {
  color: 		#ea00d9;
  text-align: center;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #133e7c !important; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
a {
  color: 		#ea00d9;
  font-size: 20px;
}
ul {
  list-style: none;
}